enviaEdge.json
[{"id":"2c50c3e7.d90bbc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a3e54241.cf1a7","type":"inject","z":"2c50c3e7.d90bbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["92cf0aee.5a3c28"]]},{"id":"92cf0aee.5a3c28","type":"http request","z":"2c50c3e7.d90bbc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/openmrs/ws/rest/v1/session","tls":"","proxy":"","authType":"basic","x":330,"y":180,"wires":[["ce7548b0.586078"]]},{"id":"ce7548b0.586078","type":"json","z":"2c50c3e7.d90bbc","name":"","property":"payload","action":"","pretty":false,"x":530,"y":180,"wires":[["3c6f037c.dace1c","352b7cbe.9fc3cc"]]},{"id":"3c6f037c.dace1c","type":"debug","z":"2c50c3e7.d90bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":100,"wires":[]},{"id":"352b7cbe.9fc3cc","type":"change","z":"2c50c3e7.d90bbc","name":"","rules":[{"t":"set","p":"session","pt":"flow","to":"payload.sessionId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[[]]},{"id":"65e93a79.389fdc","type":"inject","z":"2c50c3e7.d90bbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["954ad298.661838"]]},{"id":"f582bcf.b0852c","type":"http request","z":"2c50c3e7.d90bbc","name":"GET patient","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:8080/openmrs/ws/rest/v1/patient?v=full&q=An","tls":"","proxy":"","authType":"","x":510,"y":320,"wires":[["8bd159ba.1e2928"]]},{"id":"8bd159ba.1e2928","type":"json","z":"2c50c3e7.d90bbc","name":"","property":"payload","action":"","pretty":false,"x":750,"y":320,"wires":[["1dc3ad2b.b3fc7b"]]},{"id":"954ad298.661838","type":"function","z":"2c50c3e7.d90bbc","name":"set-headers","func":"msg.headers = {};\nmsg.cookies = { JSESSIONID: flow.get(\"session\") }\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["f582bcf.b0852c"]]},{"id":"1dc3ad2b.b3fc7b","type":"debug","z":"2c50c3e7.d90bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":320,"wires":[]},{"id":"4b3591b9.0b35b8","type":"comment","z":"2c50c3e7.d90bbc","name":"GET de prueba","info":"","x":120,"y":260,"wires":[]},{"id":"c6c7fff1.b25e9","type":"comment","z":"2c50c3e7.d90bbc","name":"Autenticacion con session","info":"","x":150,"y":120,"wires":[]},{"id":"4eb7c8ad.45ebb","type":"comment","z":"2c50c3e7.d90bbc","name":"Post de constantes vitales a IoT Edge","info":"","x":190,"y":400,"wires":[]},{"id":"ad6628cd.6a48c","type":"inject","z":"2c50c3e7.d90bbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["2b0899fe.715e86","bb5b300a.bf21e8"]]},{"id":"2ad9dcf0.77f40c","type":"function","z":"2c50c3e7.d90bbc","name":"GenerateTemperature","func":"let pulse = Number((Math.random()* (42 - 35) + 35).toFixed(1));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":500,"wires":[["5e97deff.7da5b8"]]},{"id":"5e97deff.7da5b8","type":"function","z":"2c50c3e7.d90bbc","name":"set-temperature","func":"let temp = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {\n\tconcept:\"5088AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n\tvalue:temp\n}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":500,"wires":[["badf25a6.3e56c"]]},{"id":"bb5b300a.bf21e8","type":"function","z":"2c50c3e7.d90bbc","name":"set-common","func":"let esp = msg.payload\nlet common = {person:\"1aa4812e-f666-4412-a000-8a10955d4b81\",obsDatetime:flow.get(\"currentTime\"),encounter:\"9fa7e7ae-f64d-42a4-86bf-3dd57fb66745\"}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["3a1fdf54.43a4d8"]]},{"id":"db1552cb.5c8508","type":"function","z":"2c50c3e7.d90bbc","name":"set-headers","func":"msg.cookies = { JSESSIONID: flow.get(\"session\") }\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":1220,"wires":[["7e883533.0b28e4"]]},{"id":"7e883533.0b28e4","type":"http request","z":"2c50c3e7.d90bbc","name":"POST obs","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:8080/openmrs/ws/rest/v1/obs","tls":"","proxy":"","authType":"","x":290,"y":1220,"wires":[["8a7fa08.d65b16"]]},{"id":"8a7fa08.d65b16","type":"json","z":"2c50c3e7.d90bbc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1220,"wires":[["304f0b8e.052394"]]},{"id":"304f0b8e.052394","type":"debug","z":"2c50c3e7.d90bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1220,"wires":[]},{"id":"2b0899fe.715e86","type":"function","z":"2c50c3e7.d90bbc","name":"set-time","func":"let time = new Date(Date.now())\nmsg.payload = time.toISOString()\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["669b687b.9d3a6"]]},{"id":"669b687b.9d3a6","type":"change","z":"2c50c3e7.d90bbc","name":"currentTime","rules":[{"t":"set","p":"currentTime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[[]]},{"id":"3a1fdf54.43a4d8","type":"change","z":"2c50c3e7.d90bbc","name":"common","rules":[{"t":"set","p":"common","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["85f47e1e.a9661","62317819.aec8d","7ec96971.1b2428","2ad9dcf0.77f40c","3eb62d1d.442722","7d45f028.b3ea5"]]},{"id":"bef94a6b.0d387","type":"function","z":"2c50c3e7.d90bbc","name":"set-pulse","func":"let pulse = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {concept:\"5087AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",value:pulse}\nmsg.payload = Object.assign(common, esp);\nreturn msg;\n\t\n","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["badf25a6.3e56c"]]},{"id":"7ec96971.1b2428","type":"function","z":"2c50c3e7.d90bbc","name":"GeneratePulse","func":"let pulse = Math.round((Math.random()* (110 - 80) + 80));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["bef94a6b.0d387"]]},{"id":"3eb62d1d.442722","type":"function","z":"2c50c3e7.d90bbc","name":"GenerateSpO2","func":"let pulse = Math.round((Math.random()* (100 - 80) + 80));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["d57b5db8.4062d"]]},{"id":"d57b5db8.4062d","type":"function","z":"2c50c3e7.d90bbc","name":"set-spO2","func":"let spo2 = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {\n\tconcept:\"5092AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n\tvalue:spo2\n}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":560,"wires":[["badf25a6.3e56c"]]},{"id":"85f47e1e.a9661","type":"function","z":"2c50c3e7.d90bbc","name":"GenerateSystolicBP","func":"let pulse = Math.round((Math.random()* (110 - 80) + 80));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":620,"wires":[["3f1fa138.46b43e"]]},{"id":"3f1fa138.46b43e","type":"function","z":"2c50c3e7.d90bbc","name":"set-systolicBP","func":"let sysbp = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {\n\tconcept:\"5085AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n\tvalue:sysbp\n}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":620,"wires":[["badf25a6.3e56c"]]},{"id":"7d45f028.b3ea5","type":"function","z":"2c50c3e7.d90bbc","name":"GenerateDiastolicBP","func":"let pulse = Math.round((Math.random()* (110 - 80) + 80));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":700,"wires":[["443f092b.3817d"]]},{"id":"443f092b.3817d","type":"function","z":"2c50c3e7.d90bbc","name":"set-diastolicBP","func":"let diasbp = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {\n\tconcept:\"5086AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n\tvalue:diasbp\n}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":700,"wires":[["badf25a6.3e56c"]]},{"id":"62317819.aec8d","type":"function","z":"2c50c3e7.d90bbc","name":"GenerateRespiratoryFreq","func":"let pulse = Math.round((Math.random()* (110 - 80) + 80));\nmsg.payload = pulse;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["7686a55e.4b2f4c"]]},{"id":"7686a55e.4b2f4c","type":"function","z":"2c50c3e7.d90bbc","name":"set-respirtoryFreq","func":"let resp = msg.payload\nlet common = flow.get(\"common\")\nlet esp =  {\n\tconcept:\"5242AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n\tvalue:resp\n}\nmsg.payload = Object.assign(common, esp);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":760,"wires":[["badf25a6.3e56c"]]},{"id":"ad4bae6a.1f458","type":"azureiothub","z":"2c50c3e7.d90bbc","name":"Azure IoT Hub","protocol":"mqtt","x":300,"y":1080,"wires":[["5951ae8c.572c8"]]},{"id":"280f4e7c.b111ca","type":"function","z":"2c50c3e7.d90bbc","name":"set-HubInfo","func":"let message = {\n    deviceId:\"NodeRed\",\n    key:\"am/Kgq/SgL2FNqcQUV6YfxkxTH4aWOCpJb5dXfoxrN0=\",\n    protocol:\"mqtt\",\n    data:msg.payload\n}\n\nmsg.payload = message\nreturn msg","outputs":1,"noerr":0,"x":90,"y":1080,"wires":[["ad4bae6a.1f458"]]},{"id":"5951ae8c.572c8","type":"debug","z":"2c50c3e7.d90bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1080,"wires":[]},{"id":"e5d01060.9ec418","type":"azureiothubreceiver","z":"2c50c3e7.d90bbc","name":"Azure IoT Hub Receiver","x":120,"y":920,"wires":[["6d683e9a.1ef41"]]},{"id":"6d683e9a.1ef41","type":"debug","z":"2c50c3e7.d90bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":920,"wires":[]},{"id":"badf25a6.3e56c","type":"mqtt out","z":"2c50c3e7.d90bbc","name":"sendMess","topic":"devices/NodeRed/messages/events/$.ct=application%2Fjson&$.ce=utf-8","qos":"1","retain":"false","broker":"b4b804e6.06705","x":1250,"y":560,"wires":[]},{"id":"dd79d908.f9675","type":"comment","z":"2c50c3e7.d90bbc","name":"Post de constantes vitales a Azure IoT Hub","info":"","x":190,"y":1000,"wires":[]},{"id":"5970f7e7.734ac8","type":"comment","z":"2c50c3e7.d90bbc","name":"Visualiza lo que recibe el Azure IoT Hub","info":"","x":170,"y":860,"wires":[]},{"id":"42b274ea.b8506c","type":"comment","z":"2c50c3e7.d90bbc","name":"Post de constantes vitales a openMRS (local)","info":"","x":190,"y":1160,"wires":[]},{"id":"b4b804e6.06705","type":"mqtt-broker","z":"","name":"iotHub-mqtt","broker":"192.168.1.2","port":"8883","tls":"7070d1cf.11e8a8","clientid":"NodeRed","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7070d1cf.11e8a8","type":"tls-config","z":"","name":"CA Hub","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"azure-iot-test-only.root.ca.cert.pem","servername":"","verifyservercert":false}]